:root {
  --color-main: #3778c2;
  --color-main-light: #3778c257;
  --color-main-dark: #2a5e9a;
  --color-main-darker: #1d4462;
  --color-secondary: #5fb523;
  --color-secondary-light: #5fb52357;
  --color-secondary-dark: #4a8f1a;
  --color-text: #434b54;
}

@font-face {
  font-family: 'Net proxima nova', sans-serif;
  src: url('net-proxima_nova.ttf');
}

@font-face {
  font-family: 'Light proxima nova', sans-serif;
  src: url('proxima-nova-light.ttf');
}

body {
  font-family: 'Net proxima nova';
}

.notice {
  font-family: 'Light proxima nova';
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: var(--color-secondary-dark);
  color: #fff;
}
